# dependencies
/node_modules
/client/live-poll-frontend/node_modules
/server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/client/live-poll-frontend/.next/
/client/live-poll-frontend/out/

# production
/build
/client/live-poll-frontend/build

# misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
